body {
  font-family: Arial, sans-serif;
}
.q-no {
  border: 1px solid black;
  font-weight: bold;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
}
.q {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 950px;
}
td {
  vertical-align: top;
}
h1 {
  margin: 10px 0;
}
@media screen {
  body {
    width: 1000px;
    margin: auto;
  }
}
@media print {
  .test {
    page-break-after: always;
  }
}
